<html>
<head>
    <title>SitePoint News</title>
    <meta name="decorator" content="atl.admin">
</head>
<body>
<h1>SitePoint News</h1>
<ul>
    #foreach($entry in $entries)
        <li><a href="$entry.link">$entry.title</a></li>
    #{end}
</ul>
</body>
</html>